.animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom shadow for the active state to match the depth in the image */
.bg-deep {
    background-color: #1a367c;
}

.bg-nav {
    background-color: #24418a;
}